<configuration>
  <system.web>
    <compilation batch="false" />
  </system.web>

  <system.webServer>

    <handlers>
      <add name="iisnode" path="dist/server/app.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="Main Rule" stopProcessing="true">
        <match url="/*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />                                 
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="dist/server/app.js" />
      </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
